body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ff884d;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #fcff4db9;
  color: black;
}

.sidebar a:hover:not(.active) {
  font-size: larger;
  font-weight: bold;
}

/* desktop-view */
@media screen and (min-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .profile-nav{float:right !important;}
  .icon{display:none !important;}
}

/* tablet-view */
@media screen and (max-width: 991px) and (min-width:768px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .profile-nav{
    display: none !important;
  }
  .icon{display: none !important;}
}

/* mobile-view */
@media screen and (max-width: 767px) {
  .sidebar a{
    text-align: left;
  }
  .profile-nav{
    display:none !important;
  }
  .icon{float: right;}
}