body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ff884d;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #fcff4db9;
  color: black;
}

.sidebar a:hover:not(.active) {
  font-size: larger;
  font-weight: bold;
}

/* desktop-view */
@media screen and (min-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .profile-nav{float:right !important;}
  .icon{display:none !important;}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  /* margin: auto; */
  text-align: center;
  font-family: arial;
  padding: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

.card-content a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.left-panel{
  margin: 10px;
  float:left;
}

.community{
  max-width: 250px;
  margin: 5px;
  background-color:#ff884d;
  border-radius:5px;
}
.community li{
  color: white;
  padding:10px;
  list-style: none;
  border: white solid 1px;
}

.community li:hover{
  font-weight: bold;
}

/* tablet-view */
@media screen and (max-width: 991px) and (min-width:768px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .profile-nav{
    display: none !important;
  }
  .icon{display: none !important;}
  .left-panel{
    margin-left:28%;
  }
}

/* mobile-view */
@media screen and (max-width: 767px) {
  .sidebar a{
    text-align: left;
  }
  .profile-nav{
    display:none !important;
  }
  .icon{float: right;}
  .left-panel{
    margin-left:43%;
    width:60%;
    align-items: center;
  }
}