  
  tr:nth-child(even){background-color: #f2f2f2}

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ff884d;
    position: fixed;
    height: 100%;
    overflow: auto;
    
  }
  
  .right-panel img{
    float:right;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #fcff4db9;
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    font-size: larger;
    font-weight: bold;
  }
 

  /* tablet-view */
  @media screen and (max-width: 991px) and (min-width:768px) {
    .schedule-table{
      margin-left:30% !important;
    }
  }




        .w3-sidebar {
          z-index: 3;
          width: 250px;
          top: 43px;
          bottom: 0;
          height: inherit;
          }

          tr:nth-child(odd) {background-color: #f37d38;}
          tr:nth-child(even) {background-color: #eeba6d;}

          tr:hover{background-color: lightblue;}
          
          #table{
              margin-left:200px;
          }

          table, th, td {
                          border: 1px solid black;
                          /* border-collapse: collapse; */
                          /* margin-left: auto;
                          margin-right: auto; */
                          text-align:center;
                          padding: 5px;
                          /* padding-left: 15px;
                          padding-right: 10px; */
                      }

          .button {
              border: none;
              color: white;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              transition-duration: 0.4s;
              cursor: pointer;
              margin-left:200px;
          }

          .button1 {
              background-color: white; 
              color: black; 
              border: 2px solid #4CAF50;
              }

          .button1:hover {
              background-color: #4CAF50;
              color: white;
              }

          .button2 {
              background-color: white; 
              color: black; 
              border: 2px solid #008CBA;
              }

          .button2:hover {
              background-color: #008CBA;
              color: white;
              }
          
          .wrapper {
                      text-align: center;
                    }

              @media (min-width:992px){
              .menu{
                  display: block;
              }
              }
              @media (min-width:768px) and (max-width:991px){
                  .menu{
                      display: none;
                  }
                  .article{
                      width: 50%;
                  }
              }
              @media (max-width:767px){
                  .menu{
                      display: none;
                  }
                  .article{
                      width: 50%;
                  }
              }

              .CRUD{
                  text-align: right;
                  
              }

              .material-icons{
                  font-size: 30px;
              }

              .material-icons:hover{
                  cursor: pointer;
                  color:#e05e5e;
              }

              #addRecordForm{
                  padding: 2% 5%;
                  border: 1px solid #000000;
                  background-color: #e3e3e3;
                  position: absolute;
                  top:2%;
                  left:28%;
                  display: none;
              }