table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ff884d;
    position: fixed;
    height: 100%;
    overflow: auto;
    
  }
  
  /* .right-panel img{
    float:right;
  } */
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #fcff4db9;
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    font-size: larger;
    font-weight: bold;
  }