<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON</title>
    <script src="./angular.min.js"></script>
    
</head>
<body ng-app="app">
    <div ng-controller="RecordsController">
        <!-- Firstname:
        <input type="text" ng-model="firstname" placeholder="Firstname">
        Lastname:
        <input type="text" ng-model="lastname" placeholder="Lastname"> -->
        Rows to Display:<input type="number" step="1" min="0" max="10">
        <table cellpadding="4" cellspacing="4" border="1">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Specialisation</th>
            </tr>
            <tr ng-repeat="emp in doctors">
                <td>{{emp.id}}</td>
                <td>{{emp.fname}}</td>
                <td>{{emp.lname}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.specialisation}}</td>
            </tr>
        </table>

    </div>
    
    <script src="./script.js"></script>
</body>
</html>